{% extends 'base.html' %}
{% block title %}addassignment{% endblock %}
{% block body %}
{% if user.is_authenticated %}
    <a href="addassignment">addassignment</a>
    <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">QUESTIONS</th>
                    <th scope="col">Last DATE</th>
                    <th scope="col">SOLUTION</th>
                    <th scope="col">Marks</th>
                    <th scope="col">Remarks</th>
                </tr>
            </thead>
            {% for ass in sa %}
                <tbody>
                    <tr>
                        <td>{{ass.stu_id}}</td>
                        <td>{{ass.title}}</td>
                        <td>{{ass.questions}}</td>
                        <td>{{ass.deadline}}</td>
                        <td>{{ass.solution}}</td>
                        <td>{{ass.marks}}</td>
                        <td>{{ass.remarks}}</td>
                        <td><a href="{% url 'rewords' title=ass.title id=ass.stu_id%}">Reword Marks</a></td>
                    </tr>
                </tbody>
           {% endfor %}
    </table>
{% endif %}
{% endblock %}
